*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input{
  border: 1px solid purple;
  background-color: transparent;
  font-size: 17px;
  color:white;
  font-family: 'Courier New', Courier, monospace;
  margin: 15px 0px;
  padding: 5px 10px;
  outline: none;
}
input[type="submit"]{
  cursor: pointer;
}
input[type="submit"]:hover{
  background-color: purple;
  color: wheat;
}
h2{
  padding: 15px;
  color: purple;
  font-family: 'Courier New', Courier, monospace;
}
h2:hover{
  color: rgb(226, 75, 226);
}